{% extends "layout.html" %}
{% block body %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/homemovie.jpg') }}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>WE KNOW </h1>
              <span class="subheading">YOUR CHOICE</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->

    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

          <div class="post-preview">
            <a href="post.html">
              <h3 class="post-title">
                Abraham Verghese
              </h3>
              <h5 class="post-subtitle">
                The incredible cinematography makes 'A Walk to Beautiful' almost like a poem; there is a tenderness on display that seems to emanate from the camera. There is also great sensitivity to the women whose stories are being told - never did I have a sense of the subjects being exploited
              </h5>
            </a>
          </div>
          <hr>
<!-- TODO: FETCH REST POSTS THROUGH DATABASE VIA FOR LOOP-->

        </div>
      </div>
    </div>

    {% endblock %}