{% extends "layout.html" %}
{% block body %}

    <!-- Page Header -->
      <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/letsstart.jpg') }}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h2>Eg. I WANNA WATCH MOVIE LIKE, AVATAR</h2>
              <span class="subheading"> </span>
              <span style="float: right">

            </div>


          </div>
        </div>
      </div>

    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>Want to get top recommendations?</p>
          <p>Fill out the space below with a similar movie you wanna watch!</p>
          <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
          <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
          <!-- To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
          <form name="recommendation" id="startForm" action = "/start" method="post" novalidate>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Name</label>
                <input type="text" class="form-control" placeholder="Movie name" id="name" name='name' required data-validation-required-message="Please enter your name.">
                <p class="help-block text-danger"></p>
              </div>
            </div>

            <br>
            <div id="success"></div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary" id="sendMessageButton">Recommend</button>
            </div>
          </form>
        </div>
      </div>
    </div>

   {% endblock %}